{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8">
<meta name="viewport" content = "width = device-width, initial-scale = 1.0">
<meta http-equiv = "X-UA-Compatible" content = "ie=edge">

<!-- icon style -->
<script src ="https://kit.fontawesome.com/b99e675b6e.js"></script>
<title>Simpe header menu</title>

<!-- CSS link -->
<link rel ="stylesheet" href = "{% static 'css/style.css' %}">
    <link rel ="stylesheet" href = "{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
        h1 {
            color: green;
        }
        ul#remove {
            list-style-type: none;
            padding: 0;
        }
        .left {
            width : 40%;
            float: left;
        }
        .right {
            width : 40%;
            float: right;
        }
    </style>


</head>
<body>

{% load static %}

<div class="wrapper hover_collapse">
<!-- top navigation bar -->
<div class="top_navbar">

<!-- logo -->
    <div class="logo">Candidate</div>
<!-- menu button -->
   <div class="menu">
         <div class="hamburger">
         <i class="fas fa-bars"></i>
         </div>
         <div class="log">
             {% if request.user %}
             {{request.user}}
             {% endif %}
         </div>
       </div>
       </div>

<!-- side bar -->
<div class="sidebar">

  <div class="sidebar_inner">
    <!-- menu item -->
  <ul id="remove">
    <!-- <li>
    <a href="#">
  <span class="icon"><i class="fa fa-home"></i></span>
  <span class="text">Home</span>
    </a>
    </li> -->
      <li>
      <a href="{% url 'dashboard:index' %}">
    <span class="icon"><i class="fas fa-user-tie"></i></span>
    <span class="text">View Administrators</span>
      </a>
      </li>

      <li>
      <a href="{% url 'dashboard:candidate' %}">
    <span class="icon"><i class="fa fa-user"></i></span>
    <span class="text">Manage Candidate</span>
      </a>
      </li>

      <li>
      <a href="{% url 'polls:index' %}">
    <span class="icon"><i class="fas fa-poll"></i></span>
    <span class="text">Check Poll Results</span>
      </a>
      </li>
      <li>
      <a href="{% url 'core:update_profile' %}">
    <span class="icon"><i class="fas fa-user-edit"></i></span>
    <span class="text">Update Profile</span>
      </a>
      </li>
      <li>
      <a href="{% url 'core:logout' %}">
    <span class="icon"><i class="fa fa-sign-out"></i></span>
    <span class="text">Log Out</span>
      </a>
      </li>
  </ul>
</div>

</div>
</div>


<style>


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>


<br>
<br>
<br>
<br>

<!-- Page Content -->
<table>
    <tr>
        <td>

                <center>

            <form autocomplete="off"  method="post">
                {% csrf_token %}

                <div>
                    <label for="productCode">First Name</label>
                    <input type="text" name="first_name" id="productCode" value="{{candidate.first_name}}">
                </div> <br />
                <div>
                    <label for="product">Last Name</label>
                    <input type="text" name="last_name" id="product" value="{{candidate.last_name}}">
                </div> <br />
                <div>
                    <label for="position">Position: </label>
                    <select id="position" name="position">
                        {% if candidate.position == "President" %}
                        <option selected value="President">President</option>
                        <option value="Vice President">Vice President</option>
                        <option value="Secretary General">Secretary General</option>
                        <option value="Treasurer">Treasurer</option>
                        {% endif %}

                        {% if candidate.position == "Vice President" %}
                        <option value="President">President</option>
                        <option selected value="Vice President">Vice President</option>
                        <option value="Secretary General">Secretary General</option>
                        <option value="Treasurer">Treasurer</option>
                        {% endif %}

                        {% if candidate.position == "Secretary General" %}
                        <option value="President">President</option>
                        <option value="Vice President">Vice President</option>
                        <option selected value="Secretary General">Secretary General</option>
                        <option value="Treasurer">Treasurer</option>
                        {% endif %}

                         {% if candidate.position == "Treasurer" %}
                        <option value="President">President</option>
                        <option value="Vice President">Vice President</option>
                        <option value="Secretary General">Secretary General</option>
                        <option selected value="Treasurer">Treasurer</option>
                        {% endif %}


                    </select>
                    <!--input type="text" name="qty" id="qty"-->
                </div> <br />

                <div class="form_action--button">
                    <input type="submit" value="Update">
                </div>
            </form>
                </center>
        </td>
    </tr>
</table>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/manageCandidate.js' %}"></script>


<!-- Now activate menu button using Javascript -->
<script type="text/javascript">
var li_items = document.querySelectorAll(".sidebar ul li");
var hamburger = document.querySelector(".hamburger");
var wrapper = document.querySelector(".wrapper");

// What will change if you moove the mouse over the side bar
li_items.forEach((li_item)=>{
   li_item.addEventListener("mouseenter", ()=>{

    li_item.closest(".wrapper").classList.remove("hover_collapse");

  })
});

li_items.forEach((li_item)=>{
   li_item.addEventListener("mouseleave", ()=>{

    li_item.closest(".wrapper").classList.add("hover_collapse");

   })
});

hamburger.addEventListener("click", () => {

    hamburger.closest(".wrapper").classList.toggle("hover_collapse");
})
</script>

  </body>

</html>
